body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    padding: 20px;
}

h2, h3 {
    color: #333;
}

table {
    border-collapse: collapse;
    width: 80%;
    margin: 20px auto;
}

th, td {
    border: 1px solid #999;
    padding: 8px;
    text-align: center;
}

input[type="text"] {
  width: 18%; 
  box-sizing: border-box; 
}

input[type="number"] {
    width: 60px;
    text-align: center;
    padding: 4px;
    font-size: 14px;
}

input[type="submit"] {
    padding: 10px 20px;
    background-color: #0077cc;
    color: white;
    border: none;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #005fa3;
}
.centered-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
