<!DOCTYPE html>
<html>
<head>
    <title>Asignar nombres a criterios</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h3>Asigna un nombre a cada criterio</h3>
    <form method="POST">
        {% for i in range(num_criterios) %}
  <label>Criterio {{ i+1 }}:</label>
  <input type="text" maxlength="20"name="criterio_{{ i }}" required>
  <select name="tipo_{{ i }}">
    <option value="max">Maximizar</option>
    <option value="min">Minimizar</option>
  </select>
  <br>
{% endfor %}
        <input type="submit" value="Generar matriz">
    </form>
</body>
</html>
