<!DOCTYPE html>
<html>
<head>
    <title>Resultados AHP</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h2>Pesos calculados con AHP</h2>
    <table border="1">
        <tr><th>Criterio</th><th>Peso</th></tr>
        {% for i in range(criterios|length) %}
            <tr>
                <td>{{ criterios[i] }}</td>
                <td>{{ pesos[i] }}</td>
            </tr>
        {% endfor %}
    </table>
     <a href="{{ url_for('alternativas') }}">Continuar con TOPSIS</a>
</body>
</html>
